{% extends"szablon.html" %}
{% block content %}
		<h1>Witamy na stronie z przepisami kulinarnymi!!!</h1>
		<p>
		<a> www.dobreprzepisy.pl to portal z przepisami kulinarnymi.</br>
		 Przyjazny, czytelny i otwarty dla każdego miłośnika gotowania.</br>
		  Pokazujemy i ułatwiamy przyrządzanie posiłków.</br>
		   Możesz przeszukać naszą bazę w celu znalezienia przepisu bądź dodać swój i mieć satysfakcję instruowania innych aspirujących kucharzy.</a>
		</p>
		
		
		
		Teraz jest: {{dt}}.
{% endblock %}
